doctype html
html(lang="ru")
	head
		title Project Animation
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width")
		meta(name="description" content="Animation")
		meta(name="author" content="Roman & Andriy")
		link(rel="stylesheet" href="css/main.min.css")
		script(defer src="js/main.min.js")
		//- script(src="../node_modules/motus/dist/motus.js")
	body
		include global/_mixins
		include global/_vars
		include sections/_categories
		include sections/_methods
		include sections/_fast-order
		include sections/_complex
		include sections/_cases
		include sections/_main-form
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	