section.cases.wrap
  .cases__title-wrap
    .cases__title-h.wrap__title Наши кейсы
    .cases__title-h--thin.wrap__title все кейсы
  .cases__filters-wrap
    .cases__filter НЕДАВНИЕ
    .cases__filter SEO продвижение
    .cases__filter Запуск и ведение рекламных кампаний
    .cases__filter Разработка сайтов
    .cases__filter Разработка фирменного стиля
  .cases__items-wrap
    a.cases__item(href="#")
      .cases__item-img 
        img(src="", alt="")
      p.cases__item-title Продвижение автомобильных товаров Вконтакте
    a.cases__item(href="#")
      .cases__item-img 
        img(src="", alt="")
      p.cases__item-title Таргетированная реклама подарков
    a.cases__item(href="#")
      .cases__item-img 
        img(src="", alt="")
      p.cases__item-title Продвижение школы иностранных языков
    a.cases__item(href="#")
      .cases__item-img 
        img(src="", alt="")
      p.cases__item-title Привлечение людей на мероприятие в йога-центр
    a.cases__item(href="#")
      .cases__item-img 
        img(src="", alt="")
      p.cases__item-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eos.
  .cases__polzunok
  