header.header I`m Header
section.categories
	.categories--bg
		.wrap
			nav.breadcrumbs 
				a.breadcrumbs__nav-link(href="#") Главная страница / 
				span.breadcrumbs__nav-current Интернет-маркет
			.categories__title
				h2.categories__title-h.wrap__title Мы помогаем 
				span.categories__title-sub.wrap__sub вашим клиентам
				h2.categories__title-h.wrap__title найти вас 
				span.categories__title-sub.wrap__title через Интернет
			.categories__circles
				.categories__circles-item.circle1
					a.categories__circles-item-link(href="#")
						p.categories__circles-item-text SEO продвижение
						p.categories__circles-item-text--hidden.wrap__hidden перейти к кейсам
				.categories__circles-item.circle2
					a.categories__circles-item-link(href="#")
						p.categories__circles-item-text Запуск и ведение #[br] рекламных кампаний
						p.categories__circles-item-text--hidden.wrap__hidden перейти к кейсам
				.categories__circles-item.circle3
					a.categories__circles-item-link(href="#")
						p.categories__circles-item-text Разработка сайтов
						p.categories__circles-item-text--hidden.wrap__hidden перейти к кейсам
				.categories__circles-item.circle4
					a.categories__circles-item-link(href="#")
						p.categories__circles-item-text Разработка фирменного стиля
						p.categories__circles-item-text--hidden.wrap__hidden перейти к кейсам