section.complex.wrap
  .complex__title-wrap
    .complex__title-h.wrap__title Комплексный  подход
    .complex__title-h--thin.wrap__title Первоманс  маркетинг
  .complex__main-wrap
    .complex__items-wrap
      .complex__item
        p.complex__item-title Правильное юзабилити
        p.complex__item-text
      .complex__item
        p.complex__item-title Качественный контент
        p.complex__item-text
      .complex__item
        p.complex__item-title Мощные функциональные  платформы
        p.complex__item-text
    .complex__items-wrap
      .complex__item
        p.complex__item-title ШАГ 1
        p.complex__item-text Настройка аналитики
        p.complex__item-info.wrap__hidden 
      .complex__item
        p.complex__item-title ШАГ 2
        p.complex__item-text Изучение  аудитории
        p.complex__item-info.wrap__hidden 
      .complex__item
        p.complex__item-title ШАГ 3
        p.complex__item-text Медиа-планирование, подбор инструментов
        p.complex__item-info.wrap__hidden 
      .complex__item
        p.complex__item-title ШАГ 4
        p.complex__item-text Размещение  рекламы
        p.complex__item-info.wrap__hidden 
      .complex__item
        p.complex__item-title ШАГ 5
        p.complex__item-text Анализ  эффективности
        p.complex__item-info.wrap__hidden
