section.fast-order.wrap
  form.fast-order__form
    h2.fast-order__title.wrap__title
    input.fast-order__form-input(type="text")
    input.fast-order__form-input(type="email")
    input.fast-order__form-input(type="tel")
    input.fast-order__form-input(type="text")
    .fast-order__input-wrap
      input.fast-order__form-input(type="checkbox") 
      span я не робот
      input.fast-order__form-input(type="file") 
      span Выберите файл
    button.wrap__btn отправить
    p.fast-order__form-accept Отправляя заявку, Вы принимаете условия 
    a(href="#").fast-order__form-link Пользовательского Соглашения
  .fast-order__about
    p.fast-order__about-title MeliorIT — ИТ компания  с очень широкими возможностями.
    p.fast-order__about-text Мы успешно реализуем крупные проекты в различных сферах на протяжении 10 лет.
    p.fast-order__about-text Обращаясь к нам, Вы получите надежного партнера, которому можно доверить даже самые нестандартные задачи и быть спокойным за их решение.