section.main-form__wrap.wrap
  form.main-form
    h2.main-form__title.wrap__title Оставить 
    span.main-form__title.main-form__title--color.wrap__title заявку на проект
    .main-form__input-wrap
      input.main-form__form-input(type="text")
      input.main-form__form-input(type="email")
      input.main-form__form-input(type="tel")
      input.main-form__form-input(type="text")
    textarea.main-form__form-textarea
    button.wrap__btn отправить
    p.fast-order__form-accept Отправляя заявку, Вы принимаете условия 
    a(href="#").fast-order__form-link Пользовательского Соглашения
    