section.methods.wrap
  .methods__title-wrap
    h2.methods__title-h.wrap__title В своей работе команда Meliorit использует проверенные методы
    span.methods__title-sub.wrap__sub Казалось бы, ничего нового, но – мы делаем это все комплексно, профессионально и виртуозно.
  .methods__main-wrap
    .methods__items-wrap
      .methods__item
        p.methods__item-title Правильное юзабилити
        p.methods__item-text.wrap__hidden
      .methods__item
        p.methods__item-title Качественный контент
        p.methods__item-text.wrap__hidden
      .methods__item
        p.methods__item-title Мощные функциональные  платформы
        p.methods__item-text.wrap__hidden
    .methods__items-wrap
      .methods__item
        p.methods__item-title Настройка контекстной рекламы в Яндекс Директ и Google Adwords
        p.methods__item-text.wrap__hidden
      .methods__item
        p.methods__item-title SEO-анализ
        p.methods__item-text.wrap__hidden
      .methods__item
        p.methods__item-title Трастовые и натуральные ссылки
        p.methods__item-text.wrap__hidden
    .methods__items-wrap
      .methods__item
        p.methods__item-title Крауд-маркетинг
        p.methods__item-text.wrap__hidden
      .methods__item
        p.methods__item-title “Социальные сигналы”
        p.methods__item-text.wrap__hidden